body{
    margin: 0 auto;
    max-width: 960px;
    padding-top: 50px;
}

h2,h3{
    color: #3c4043;
}

p{
    padding-bottom: 20px;
}

div p:last-child{
    padding-bottom: 50px;
}

ol{
    padding-bottom: 10px;
}

ul{
    padding-top: 10px;
}

li{
    padding-bottom: 10px;
}
